{{! basic variable use }}
{{test}}
<h2>{{schoolName}}'s Page</h2>
{{! If and else statement }}
{{#if house}}
  <h4>House: {{house}}</h4>
{{else}}
  <h4>House: There are no houses yet</h4>
{{/if}}
{{! Unless statement }}
{{#unless patronus}}
  <h6>Patronus: Student has no Patronus Charm</h6>
{{/unless}}

{{! loops example with partials}}
{{#each arrayOfChars}}
  {{> charCard this}}
{{/each}}

<h3>Spells:</h3>
{{#each arrayOfSpells}}
  <h6>Spell Name: {{this.name}}</h6>
{{/each}}